* {
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
button {
  border-radius: 2em;
  margin: 10px;
}
.visited {
  text-decoration: none;
  color: #000000;
}
.form {
  display: flex;
  margin: 10px;
  padding: 2em;
  background-color: #494949;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  align-content: space-around;
}
.allItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.allItems img {
  border-radius: 1em;
  margin: 1em;
}
.allItems a {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.singleItem {
  display: flex;
  margin: 10px;
  padding: 2em;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
.singleItem img {
  max-width: 60%;
  height: 60%;
  border-radius: 1em;
  margin: 2em;
}
.singleItem p {
  max-width: 75%;
  margin: 10px;
}
h1 {
  display: flex;
  justify-content: center;
}
#campuses,
#students {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
#campuses img,
#students img {
  border-radius: 1em;
  margin: 1em;
}
#campuses a,
#students a {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
#single-student,
#single-campus {
  display: flex;
  margin: 10px;
  padding: 2em;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
#single-student img,
#single-campus img {
  max-width: 60%;
  height: 60%;
  border-radius: 1em;
  margin: 2em;
}
#single-student p,
#single-campus p {
  max-width: 75%;
  margin: 10px;
}
#campus-form {
  display: flex;
  margin: 10px;
  padding: 2em;
  background-color: #494949;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  align-content: space-around;
}
#campusForm {
  float: right;
}
li {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-self: center;
}
li :visited {
  text-decoration: none;
  color: #000000;
}
body::after {
  content: "";
  background-color: lightslategrey;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 2px;
}
nav {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #221e1e;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-around;
  align-content: space-between;
}
nav :visited {
  text-decoration: none;
  color: #c0c0c0;
}
nav :hover {
  text-decoration: none;
  color: yellow;
}
main {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
